.main-contenedor-all {
    margin-top: 100px;
}

.main-cv-complete {
    width: 70%;
    height: 400px;
    margin: auto;
    margin-top: 30px;
    background-image: url("/src/Img/Cv/fondo-6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 20px;
}

.main-cv {
    width: 40%;
    /* background-color: aqua; */
    /* display: flex; */
    margin: auto;
    padding-top: 40px;
}

.img-cv-picture {
    width: 190px;
    height: 180px;
    border-radius: 50%;
    border: rgb(255, 255, 255) 3px solid;
}

.text-color-cv {
    color: azure;
    font-family: 'Times New Roman', Times, serif;
}

.cv-experiencia-contenedor {
    width: 90%;
    margin: auto;
    display: flex;
    font-style: oblique;
    text-align: center;
    margin-top: 40px;
}

.experiencia-h1-title {
    padding-top: 30px;

}

.article-cv-experiencia {
    width: 70%;
    height: 450px;
    margin: auto;
    margin-top: 30px;
    background: linear-gradient( black ,rgb(46, 46, 46), rgb(124, 126, 124));
    color: aliceblue;
    border-radius: 20px;
    text-align: center;
}

.cv-text-p {
    color: rgb(255, 255, 255);
}

.cv-div-empresa {
    width: 80%;
    padding: 0px 30px 0px 30px;
    text-align: justify;
}

.cv-div-estudios {
    width: 80%;
    padding: 0px 30px 0px 30px;
    text-align: justify;
}

.article-cv-cards {
    width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 30px 20px 30px 20px;
    background-color:  rgb(124, 126, 124);
}

.article-cv-container {
    color: white;
    display: flex;
}

.cv-card-only {
    width: 300px;
    height: 350px;
    margin-left: 20px;
}

.cv-h1-conocimientos {
    color: white;
    margin-bottom: 30px;
}

.img-cv {
    width: 100px;
    height: 100px;
    margin-left: 0px;
    margin-bottom: 10px;
    background-color: blue;
}

.card {
    max-width: 20rem;
}