.main-cv-complete {
    width: 70%;
    height: 400px;
    margin: auto;
    margin-top: 30px;
    background-image: url("/src/Img/Cv/fondo-6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.main-cv {
    width: 40%;
    /* background-color: aqua; */
    /* display: flex; */
    margin: auto;
    padding-top: 40px;
}

.img-cv-picture {
    width: 190px;
    height: 180px;
    border-radius: 50%;
    border: rgb(255, 255, 255) 3px solid;
}

.text-color-cv {
    color: azure;
    font-family: 'Times New Roman', Times, serif;
}

/* .main-contenedor-all {
    margin-top: 30px;
} */